@font-face{
  font-family: 'Inter'; 
  src: url('../fonts/Pretendard-Medium.otf');
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Inter';
}
.login_section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.login_wrap{
	position: relative;
	width: 85%;
	height: 100%;
}
.logo_area{
	position: relative;
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_area{
	position: relative;
	width: 100%;
	height: 70%;
}
.login_title{
	position: relative;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_title>p{
	font-size: 25px;
	color: #562900;
	font-weight: 600;
}
.login_area>ul{
	position: relative;
	width: 100%;
	height: 270px;
}
.login_area>ul>li{
	position: relative;
	width: 100%;
	height: 50px;
}
.login_area>ul>li{
	margin-bottom: 20px;
}
.login_input{
	position: relative;
	width: 100%;
	height: 50px;
	border: none;
	border-bottom: 2px solid #562900;
	outline: none;
	font-size: 18px;
	font-weight: 600;
}
.login_btn{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #562900;
	font-size: 18px;
	color: white;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}
.login_area>ul>li:nth-child(2){
	margin-bottom: 40px;
}
.login_area>ul>li:nth-child(4){
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.login_area>ul>li>p>a{
	color: #454545;
}
.login_area>i{
	display: flex;
	justify-content: center;
	height: 20px;
	font-style: normal;
}
.login_area>i>span{
	position: absolute;
	width: 100%;
	display: block;
	border-top: 1px solid #562900;
	margin-top: 10px;
}
.login_area>i>p{
	position: absolute;
	z-index: 999;
	padding: 0px 5px;
	background-color: white;
	color: #562900;
}
.kakao_login{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #FFEB3B;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
.kakao_login>a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kakao_login>a>div{
	display: flex;
	align-items: center;
}
.kakao_login>a>div>img{
	margin-right: 5px;
	width: 25px;
}
.kakao_login>a>div>p{
	color: #422816;
	font-weight: 600;
}
.home_page{
    padding:1em;
    background-color:white;
    width:100%;
    height: 1000px;
    border: 1px solid white;
    border-radius: 35px 35px 0px 0px;
}
.title_logo{
    padding:20px;
}
.title_text{
    padding-top:30px;
    font-size:32px;
}
.sub_title_text{
    padding:20px;
    color:#562900;
}
.bus_select_btn{
    display: flex;
    position: relative;
    background-color: #FFB836;
    width: 100%;
    height: 170px;
    border: 1px solid #FFB836;
    border-radius: 2em;
    cursor : pointer;
}
.tap_menu{
    float:left;
    margin-left:15%;
    align-items:center;
    cursor : pointer;
}
.footer{
    position: fixed;
    background-color: white;
    left:0;
    right:0;
    bottom:0;
    height: 80px;
}
.bus_select_text{
    margin-top:22px;
    margin-left:10px;
    width:130px;
    height:130px;
    display:flex;
    position: absolute;
    font-size: 80px
}

